EUPLATESC_MID=
EUPLATESC_KEY=

PAYU_MERCHANT=
PAYU_KEY=

ROMCARD_TERMINAL=
ROMCARD_KEY=
ROMCARD_MERCHANT_NAME=
ROMCARD_MERCHANT_URL=
ROMCARD_MERCHANT_EMAIL=

MOBILPAY_SIGNATURE=
MOBILPAY_PRIVATE_KEY=
MOBILPAY_PUBLIC_CER=

LIBRAPAY_MERCHANTNAME=
LIBRAPAY_MERCHANTURL=
LIBRAPAY_MERCHANTEMAIL=
LIBRAPAY_MERCHANT=
LIBRAPAY_TERMINAL=
LIBRAPAY_KEY=

PLATIONLINE_LOGIN_ID=
PLATIONLINE_WEBSITE=
PLATIONLINE_PUBLIC_KEY=""
PLATIONLINE_PRIVATE_KEY=""
PLATIONLINE_INITIAL_VECTOR=""
PLATIONLINE_INITIAL_VECTOR_ITSN=""
