EUPLATESC_MID=
EUPLATESC_KEY=

PAYU_MERCHANT=
PAYU_KEY="

ROMCARD_TERMINAL=
ROMCARD_KEY=
ROMCARD_MERCHANT_NAME=
ROMCARD_MERCHANT_URL=
ROMCARD_MERCHANT_EMAIL=

MOBILPAY_SIGNATURE=
MOBILPAY_PRIVATE_KEY=
MOBILPAY_PUBLIC_CER=